.container{
    text-align: center;
    margin-top: 24px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 3px solid rgb(95, 135, 21);
    border-radius: 10px;
    height: 56px;
    width: 432px;
}
button{
    font-size: 36px;
    background: #09e460;
    width: 100px;
    height: 60px;
    border-radius: 29px;
    margin: 8px;
}
.CALCULATOR{
    border: 6px solid rgb(204, 17, 17);
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 22px;
    display: inline-block;
}

h1{
    font-size: 35px;
    font-family: 'Courier New', Courier, monospace;
}